@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ayoda orange - #E17324 */
/* Ayoda gold - #F0D996 */
/* Ayoda black - #161616 */

* {
    font-family: 'Montserrat', sans-serif;
}
html {
    color: rgb(0, 0, 0, 0.75);
    scroll-behavior: smooth;
}

/* Custom button colors */

.is-orange {
    transition: 0.25s background-color, 0.25s color;
}

.nav-link {
    color: rgb(0, 0, 0, 0.75);
    transition: 0.25s color;
}

.nav-link:hover {
    color: #E17324;
}

.is-orange:hover {
    background-color: #E17324;
    border-color: transparent;
    color: white;
}

/* Custom classes */

.line-height-2{
    line-height: 2.0;
}

.is-flex-1 {
    flex: 1;
}

.has-text-orange { color: #E17324; }
.has-background-orange { background-color: #E17324; }

.p-75 { padding: 75px; }
.pt-75 { padding-top: 75px; }
.pb-75 { padding-bottom: 75px; }
.pl-75 { padding-left: 75px; }
.pr-75 { padding-right: 75px; }

.p-50 { padding: 50px; }
.pt-50 { padding-top: 50px; }
.pb-50 { padding-bottom: 50px; }
.pl-50 { padding-left: 50px; }
.pr-50 { padding-right: 50px; }

.p-25 { padding: 25px; }
.pt-25 { padding-top: 25px; }
.pb-25 { padding-bottom: 25px; }
.pl-25 { padding-left: 25px; }
.pr-25 { padding-right: 25px; }

.height-full { height: 100vh; }
.height-200 { height: 200px; }
.height-100 { height: 100px; }
.height-75 { height: 75px; }
.height-50 { height: 50px; }

.min-width-500 { min-width: 500px; }
.width-full { width: 100vw; }
.width-80vw{ width: 80vw; }
.width-70vw{ width: 70vw; }
.width-60vw{ width: 60vw; }
.width-500 { width: 500px; }
.width-250 { width: 250px; }
.width-2 { width: 2px; }

.is-size-8 { font-size: 0.5rem; }

.gap-150 { gap: 150px; }
.gap-100 { gap: 100px; }
.gap-75 { gap: 75px; }
.gap-50 { gap: 50px; }
.gap-25 { gap: 25px; }
.gap-20 { gap: 20px; }
.gap-15 { gap: 15px; }
.gap-10 { gap: 10px; }

.opacity-85 { opacity: 0.85; }
.opacity-75 { opacity: 0.75; }
.opacity-70 { opacity: 0.7; }
.opacity-50 { opacity: 0.5; }